{%extends 'base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}

{% block content %}
{{block.super}}
<div class=""> <div class="overlay"><div class = "hover"><span style="color:tomato;">F</span><span style="color:black;">orm</span>   <span style="color:tomato">S</span><span style="color:black;">canner</span></div>

<div id="head" class="overlay">
  <h3>Form Scanner</h3>
</div>

<style>

  #head h3 {
    font-family: 'Times New Roman', Times;
    font-size: 6em;
    font-weight: 900; 
}

  #head {
  height: 40vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  }

  #head:hover{
  transform: scale(1,1);
  animation: scale 1s forwards;
  }

  @keyframes scale{
    from{

    }
    to{
      transform: scale(2,2);
    }
  }

  /* .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color:#ff4444;
          color: white;
          text-align: center;
        } */
  /* .container-fluid{
     background-image: url('');
     height: 600px;
     width: auto;
     background-repeat: no-repeat;
     background-position: cover;
     background-size: 90%;
    } */


  /* .overlay{   
  bottom: 0; 
  background: rgb(245, 243, 243);
  background: rgb(245, 243, 243,.1);
  color: #f1f1f1;
  width: 100%;
  height:30%;
  transform: translateY(0vh);
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 100px;
  padding: 20px;
  text-align: center;
  transition: 0.2;
  font-family: 'Passion One', cursive;

} */

  /* .overlay {
  display: flex;
  justify-content: center;
  opacity: 1;
  width: 100%;
} */
</style>


</div>
<!-- <section class="text-left py-5" style="background-color:rgb(245, 243, 243);color: antiquewhite;">
    
        </style>
        
        
  </div>
  <section class="text-left py-5" style="background-color:rgb(245, 243, 243);color: antiquewhite;">
    
  </section>
  <section class="text-center py-5" style="background-color: tomato ; height: 70%;" id="column-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        <h4>Simple</h4>
        <p>Form scanner is easy to use and makes the user experience hassle free</p>
        <p></p>
      </div>
      <div class="col-sm-4">
        <h4>Quality</h4>
        <p>Automated form processing ensures that information remains of high quality.</p>
      </div>
      <div class="col-sm-4">
        <h4>Convinient</h4>
        <p>Form scanner, captures information from the defined template forms. Just put your forms into Form Scanner and
          let our data capture software do the rest for you.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top"
            src="https://images.pexels.com/photos/1893486/pexels-photo-1893486.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h4 class="card-title"><strong>Simple</strong></h4>
          <!-- Subtitle -->
          <h5 class=" font-weight-bold -text py-2"><strong>Scan</strong></h5>
          <!-- Text -->
          <p class="card-text">Form scanner is easy to use and makes the user experience hassle free. </p>

          <!-- Linkedin -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

      </div>
    </div>

    <!-- Card Wider -->

    <!-- Card Narrower -->


    <div class="col-md-4">
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/01/04/20/24/ecg-1953179_960_720.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

          <!-- Label -->
          <h5 class=" font-weight-bold card-title"> Convinient</h5>
          <!-- Title -->
          <h4 class="font-weight-bold -text py-2">Fast</h4>
          <!-- Text -->
          <p class="card-text">Automated form processing ensures that information remains of high quality.</p>
          <!-- Button -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>


        </div>

      </div>
    </div>
    <!-- Card Narrower -->
    <div class="col-md-4">
      <!-- Card Regular -->
      <div class="card card-cascade">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/13/09/56/checklist-3222079_960_720.jpg"
            alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h4 class="  font-weight-bold card-title"><strong>Quality</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold -text py-2">Instant</h6>
          <!-- Text -->
          <p class="card-text">Form scanner, captures information from the defined template forms. Just put your forms
            into Form Scanner and let our data capture software do the rest for you.
          </p>

          <!-- Facebook -->
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
          <!-- Twitter -->
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <!-- Dribbble -->
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

      </div>
      <!-- Card Regular -->
    </div>
  </div>
  </div>
</section>

</div>
</div>
</div>
  
{% endblock %}