{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{profile.pic.url}}" alt="" width="150px" height="150px" class="rounded-circle">
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="">
        <div class="">
          <b><p style="font-family: 'Metal Mania', cursive;">{{user.username}}</p></b>
        </div>
        <div class="button">
          <a href="{%url 'new-profile' user.id%}" style="border:1px solid lightgrey;border-radius:2px;color:black;text-decoration:none">Edit</a></span>
        </div>
        <div class="cog" style="font-family: 'Metal Mania', cursive;">
          
          
        </div>
      </div><br><br>
      <h2 style="font-family: 'Metal Mania', cursive;">Bio</h2>
    <p style="font-family: 'Metal Mania', cursive;">{{profile.position}}</p>
    <p style="font-family: 'Metal Mania', cursive;">{{profile.hospital_name}}</p>
    <p style="font-family: 'Metal Mania', cursive;">{{profile.bio}}</p>
    
    
    
    
      </div>
    </div>
    <br><hr>
    <div class="row">
      
    </div>
  </div>


{% endblock %}