{%extends 'base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}
{%load static%}

{% block styles %}
<link rel="stylesheet" href="../../static/css/profile.css">
{% endblock%}
{% block content %}

<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="card">
            <img src="{{profile.pic.url}}" alt="" width="240px" class="img-fluid card-img-top">
            <div class="card-body">
              {% if profile.position == 'Doctor' %}
              <h4>Dr. {{profile.last_name}}</h4>
              {% else %}
              <h3>{{ user.username }}</h3>
              {% endif %}
      
              <p class="card-text">Position: {{profile.position}}</p>
              <p class="card-text">Hospital: {{profile.hospital_name}}</p>
              <p class="card-text">Work ID: {{profile.work_id}}</p>
              <h4>About</h4>
              <p class="card-text">{{profile.bio}}</p>
              <a href="" data-toggle="modal" data-target="#modalLoginForm" class="btn btn-sm">Edit profile</a>
            </div>
          </div>

    </div>
    <div class="col-md-3"></div>
    

    <br>

    <br>
    <hr>
    <div class="row">

    </div>
  </div>

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Profile</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}

            <input type="submit" class="btn btn-sm" value="Update">
          </form>
        </div>
      </div>
    </div>

    {% endblock %}