{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{profile.pic.url}}" alt="" width="240px" height="240px" class="rounded-circle ">
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="">
        <div class="">
          <b><h3 style="font-family: 'Slabo 27px', serif;">{{user.username}}</h3></b>
        </div>
        <div class="button">
          <a href="{%url 'new-profile' %}" class="btn btn-primary btn-sm" style="font-family: 'Slabo 27px', serif;">Edit profile</a></span>
        </div>
        <div class="cog" style="font-family: 'Slabo 27px', serif;">
          
          
        </div>
      </div><br><br>
      <h3 style="font-family: 'Slabo 27px', serif;">Bio</h3>
    <p style="font-family: 'Slabo 27px', serif;">{{profile.position}}</p>
    <p style="font-family: 'Slabo 27px', serif;">{{profile.hospital_name}}</p>
    <p style="font-family: 'Slabo 27px', serif;">{{profile.bio}}</p>
    
    
    
    
      </div>
    </div>
    <br><hr>
    <div class="row">
      
    </div>
  </div>


{% endblock %}