{% extends 'base.html' %}

{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="../../static/css/scan.css">
{% endblock %}

{% block content %}

<div class="container start">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-heading">Forms</h4>
                </div>
                <ul>
                    {% for form in forms %}
                    <li class="card-text">{{form.sickness_form}} <a id="{{form.id}}-tab" data-toggle="tab"
                            href="#{{form.id}}" role="tab" aria-controls="{{form.id}}" aria-selected="true"
                            class="boot btn btn-sm">view</a></li>
                    {% empty %}
                    <p class="card-text">No forms yet</p>
                    {% endfor %}
                </ul>
                <hr>
                <a href="" data-toggle="modal" data-target="#modalContactForm" class="boot2 btn btn-sm">Scan form</a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-heading heady">Form image</h4>
                </div>
                <div class="card-body tab-content" id="myTabContent">
                    {% for form in forms %}
                    <div class="pic tab-pane fade show active" id="{{ form.id }}" role="tabpanel" aria-labelledby="{{ form.id }}-tab">
                        <img src="{{form.image.url}}" class="img-fluid" alt="">
                        <a href="{% url 'delete' form.id %}" style="color: red;" class="btn btn-sm"> Delete </a>
                    </div>
                    {% empty %}
                    <p class="card-text">No forms yet</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

<div class=" modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
                <h4 class="card-header heady">Add Form</4>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {%csrf_token%}

                            {% bootstrap_form form layout='inline' %}
                            <input type="submit" class="btn btn-success btn-sm" value="Add Form">
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="card start">
        <h2 class="card-header text-center">Information</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="card-text heads">Forms</h5>
                    </div>
                    {% for form in forms %}
                    <div class="row">
                        <li>{{form.sickness_form}}</li>style="margin-left: 2.4rem; align-items:center"
                        <a  class="btn btn-danger btn-sm" href="{% url 'delete' form.id %}">delete</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="card-text heads text-center">Create form</h5>
                    </div>
                    <div class="row">
                        <form action="{% url 'scan' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form layout='inline' %}
                            <input type="submit" class="btn btn-success btn-sm" value="Create form">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for form in forms %} 
    <div class="card">
        <img src="{{form.image.url}}" alt="" class="card-image img-responsive">
    </div>
    {% endfor %}
</div>
</div>
<style>
    .heads {
        margin-left: 2rem;
        padding-bottom: 1.5rem;
    }
</style> -->


{% endblock %}