{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="../../static/css/scan.css">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="card">
        <h2 class="card-header text-center">Information</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="card-text heads">Forms</h5>
                    </div>
                    {% for form in forms %}
                    <div class="row">
                        <li>{{form.sickness_form}}</li>
                        <a style="margin-left: 2.4rem; align-items:center" class="btn btn-danger btn-sm" href="{% url 'delete' form.id %}">delete</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="card-text heads text-center">Create form</h5>
                    </div>
                    <div class="row">
                        <form action="{% url 'scan' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form layout='inline' %}
                            <input type="submit" class="btn btn-success btn-sm" value="Create form">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for form in forms %} 
    <div class="card">
        <img src="{{form.image.url}}" alt="" class="card-image img-responsive">
    </div>
    {% endfor %}
</div>
</div>
<style>
    .heads {
        margin-left: 2rem;
        padding-bottom: 1.5rem;
    }
</style>


{% endblock %}