<div class="row">

  <div class="col-sm-4">
    <mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="assets/images/placeholder-profile-pic.png" class="rounded-circle">
      </div>
      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h4>John Doe</h4>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p>
          </p>
      </mdb-card-body>
    </mdb-card>

  </div>
  <div class="col-sm-4">
    <section>

    </section>
  </div>
  <div class="col-sm-4">
    One of three columns
  </div>
</div>